<template>
  <div>
    <v-row justify="center">
      <v-col cols="4">
        <Card />
      </v-col>

      <v-dialog v-model="dialog" persistent max-width="600px">
        <CardAddExcuseVue v-bind:dialog.sync="dialog" />
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-btn @click="dialog = true">
        Ajouter une excuse
      </v-btn>
    </v-row>
  </div>
</template>

<script>
import Card from '@/components/Card.vue'
import CardAddExcuseVue from '../components/CardAddExcuse.vue'

export default {
  name: 'Home',
  data: () => ({
    dialog: false
  }),
  components: {
    Card,
    CardAddExcuseVue
  }
}
</script>
