<template>
  <div>
    HttpCode
    <p v-if="excuse">
      {{ excuse.fields.message }}
    </p>
    <p v-else>
      No message for this http code.
    </p>
  </div>
</template>

<script>
import { giveMeExcuseByHttp } from '../services/excuse.js'

export default {
  name: 'HttpCode',
  data: () => ({
    excuse: null
  }),
  methods: {
    searchExcuse (httpCode) {
      const _excuse = giveMeExcuseByHttp(httpCode)
      if (_excuse) {
        this.excuse = _excuse
      }
    }
  },
  created () {
    this.searchExcuse(parseInt(this.$route.params.httpCode))
  }
}
</script>
