<template>
  <div>
    <iframe src="https://giphy.com/embed/Bp3dFfoqpCKFyXuSzP" width="480" height="480" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe>
  </div>
</template>

<script>

export default {
  name: 'Lost',
  data: () => ({
    timeOut: 5000
  }),
  created () {
    setTimeout(function () { this.$router.push('/') }.bind(this), this.timeOut)
  }
}
</script>
