<template>
  <v-btn @click="generateSentence" :loading="isLoading">
    Generer
  </v-btn>
</template>

<script>
import { giveMeExcuse, giveMeRandomInt } from '../services/excuse.js'

export default {
  name: 'Button',
  props: ['excuse'],
  data: () => ({
    isLoading: false
  }),
  methods: {
    generateSentence () {
      this.isLoading = true
      setTimeout(function () { this.emitToParent(giveMeExcuse(this.excuse.pk)); this.isLoading = false }.bind(this), giveMeRandomInt(5) * 1000)
    },
    emitToParent (newExcuse) {
      this.$emit('update:excuse', newExcuse)
    }
  }
}
</script>
