<template>
    <v-card>
        <v-card-title>
            <span class="text-h5">Ajouter une nouvelle excuse</span>
        </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-select v-model="tag" :items="tagItems" label="Tag*" required></v-select>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field v-model="excuse" label="Excuse*" required></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
            <small>*champs requis</small>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="emitToParent(false)">
                fermer
            </v-btn>
            <v-btn color="blue darken-1" text @click="addExcuse(tag, excuse)">
                Ajouter
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import { addExcuse } from '../services/excuse.js'

export default {
  name: 'CardAddExcuse',
  props: ['dialog'],
  data: () => ({
    tagItems: ['Inexcusable', 'Novelty Implementations', 'Edge Cases', 'Syntax Errors'],
    tag: '',
    excuse: ''
  }),
  methods: {
    emitToParent (newValue) {
      this.$emit('update:dialog', newValue)
    },
    addExcuse (tag, excuse) {
      addExcuse(window.location.hostname, tag, excuse)
        .then((excuse) => {
          alert(`Nouvelle excuse avec le code http ${excuse[0].fields.http_code} à bien été créée !`)
          this.emitToParent(false)
        }).catch((error) => {
          alert(error.response.data.error)
        })
    }
  }
}
</script>
