<template>
  <v-card v-if="excuse.fields">
    <v-card-title class="fade-in-text"> Ma super application </v-card-title>
    <v-card-text>
      {{ excuse.fields.message }}
    </v-card-text>
    <v-card-actions>
      <Button v-bind:excuse.sync="excuse" />
    </v-card-actions>
  </v-card>
</template>

<script>
import Button from '@/components/Button.vue'

export default {
  name: 'Card',
  components: {
    Button
  },
  data: () => ({
    excuse: {}
  }),
  mounted () {
    this.excuse = this.$store.getters.excuses.at(0)
  }
}
</script>

<style>
.fade-in-text {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
