<template>
  <v-app>
    <v-main v-if="excuses.length > 0">
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { retrieveExcuses } from './services/excuse.js'
import store from './store/index.js'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      excuses: 'excuses'
    })
  },
  methods: {
    async getAndStoreExcuses () {
      await retrieveExcuses(window.location.hostname).then((excuses) => {
        if (excuses.length > 0) {
          store.commit('setExcuses', excuses)
        } else {
          alert('Nothing to show for the moment :)')
        }
      }).catch((error) => {
        alert(error)
      })
    }
  },
  created () {
    this.getAndStoreExcuses()
  }
}
</script>
